In [2]:
import pandas as pd

DATA_FILE = "data/data.csv"

df = pd.read_csv(DATA_FILE)
df.head()

,names,params,cov,n_users,sim_no,needle,n_treatments
0,['1c PieceRate' 'hay_000' 'hay_001' 'hay_002'],[1145. 2613.25 668.5 72...,[[ 165574.16666667 83440.16666667 83440.16...,20,0,1c PieceRate,4
1,['1c PieceRate' 'hay_000' 'hay_001' 'hay_002'],[1187.75 2113.71428571 851.5 90...,[[ 87476.79513889 62728.08888889 62728.08888...,30,0,1c PieceRate,4
2,['1c PieceRate' 'hay_000' 'hay_001' 'hay_002'],[ 825.75384615 1556.23717949 951.65384615 100...,[[247863.78795812 37503.32167241 37503.32167...,40,0,1c PieceRate,4
3,['1c PieceRate' 'hay_000' 'hay_001' 'hay_002'],[ 715.41176471 1199.54509804 734.21176471 58...,[[199534.9825105 45178.50102902 45178.50102...,50,0,1c PieceRate,4
4,['1c PieceRate' 'hay_000' 'hay_001' 'hay_002'],[ 384.35 936.96111111 1297.70714286 44...,[[156006.65468182 40216.09786364 40216.09786...,60,0,1c PieceRate,4

In [4]:
df.n_users

0     20
1     30
2     40
3     50
4     60
5     70
6     80
7     90
8     30
9     40
10    50
11    60
12    70
13    80
14    90
15    20
16    30
17    40
18    50
19    60
20    70
21    80
22    90
Name: n_users, dtype: int64